body {
    background-color: #2F2764;
}
header{
    text-align: center;
    font-family: "Playwrite AU SA", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: black;
    background-color:#4B4977;
    border-radius: 10px;
}
.contenedor {
    background-color: #5F4FCA;
    grid-template-columns: auto auto auto auto;
    width: 89%;
    height: 730px;
    margin: 100px auto;
    display: grid;
    gap: 20px;
    box-shadow: 0 0 20px 1px black;
    padding: 20px;
}
.contenedor>div {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
    height: 350px;
    width: 250px;
    border: 5px solid rgb(0, 0, 0) ;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.contenedor>div:hover {
    transform: scale(1.1);
}
.img-1{
    background-image: url(como\ perros\ y\ gatos.jpeg);
    background-size: cover;
    background-position: center;
}
.img-2{
    background-image: url(cosas\ de\ gatos.jpg);
    background-size: cover;
    background-position: center;
}
.img-3{
    background-image: url(Keanu.webp);
    background-size: cover;
    background-position: center;
}
.img-4{
    background-image: url(garfield.jpeg) ;
    background-size: cover;
    background-position: center;
}
.img-5{
    background-image: url(mi\ papa\ es\ un\ gato.jpeg);
    background-size: cover;
    background-position: center;
}
.img-6{
    background-image: url(flow\ poster.jpeg);
    background-size: cover;
    background-position: center;
}
.img-7{
    background-image: url(el\ gato\ con\ botas.jpeg);
    background-size: cover;
    background-position: center;
}
footer{
    text-align: center;
    font-size: xx-large;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background-color: #1E1A4F;
}